<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-4 hidden-md-down title-box">
        <div class="row">
          <%= render "shared/exchange_box" %>
        </div>
      </div>
  </div>
</div>
