html,body{
  margin: 0;
  height: 100%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: linear-gradient(to bottom, #fff, #eee);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title-box{
  margin-top: 5%;
  .title{
    color: black;
    text-shadow: 2px 0px 2px white;
  }
}

